doctype html
html(lang="pt-br")
    head
        title Formiga Atômica - Algoritmo da otimização da colônia de formigas
        //- Informações adicionais
        meta(name="description", content="Projeto da matéria de Inteligência Artificial do professor Rigo (UFES/CEUNES). Primeira etapa, onde será implementado uma interface web para visualização e testes do Algoritmo de Colônias de Formigas.")
        meta(name="keywords", content="javascript, colonia-de-formigas, inteligencia-artificial,ufes,ceunes")
        meta(name="author", content="Gustavo F Silva")
        meta(name="license", content="MIT")
        meta(name="viewport", cotent="width=device-width, initial-scale=1.0")
        //- Estilos da página
        link(href="./css/bootstrap.min.css", type="text/css", rel="stylesheet")
        link(href="./css/style.min.css", type="text/css", rel="stylesheet")
        block css-adicionais
    body
        block content

        //- Bibliotêcas e APIs nescessárias
        script(src="./js/bootstrap.min.js")
        script(src="./js/cytoscape.min.js")
        block scripts-adicionais